
/* :root{
    --green:#be08f5;
    --black:#444;
    --light-color:#777;
    --bg-color:#e6e6e6;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:.4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
} */


/* digital clock style*/
#time{
    margin: 20px 0;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    width: fit-content;
    box-shadow: var(--box-shadow);
    border-radius: 30px;
}
#time div{
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color: var(--light-color);
    /* background: var(--bg-color); */
}

#time .dotts{
    position: relative;
    
}
@keyframes doTTs {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#time .dotts::before{
    content: '';
    position: absolute;
    right: 0;
    top: 6px;
    width: 3px;
    height: 3px;
    background: var(--green);
    border-radius:100%;animation: doTTs 1s linear infinite;
}
#time .dotts::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 6px;
    width: 3px;
    height: 3px;
    background: var(--green);
    border-radius:100%;animation: doTTs 1s linear infinite;
}

.header .navbar .add-link{
    box-shadow: var(--box-shadow-inset);
    color:var(--green);
    
}
.header .navbar .tab-links:hover{
    box-shadow: var(--box-shadow-inset);
    color:var(--green);

}

.add-link::before{
    content: '';
    position: absolute;
    right: -38px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: var(--bg-color);
    border: var(--border);
}

.tab-contents.active-tab{
    transform: translateX(0);
    opacity: 1;
}



.tab-links .navbar .add-link::before{
    right: -55px;
}




@media (min-width:991px){
    .add-link::before{
        right: -42px;
    }
    .tab-links .navbar .add-link::before{
        right: -62px;
    }
}

@media (max-width:450px){

    .add-link::before{
       display: none;
    }
    .tab-links .navbar .add-link::before{
        display: none;
    }

}





































.sect .sub-title{
    font-size: 60px;
    color: var(--color-fff-white);
    width: 100%;
    text-align: center;
    z-index: 1;
    margin-bottom: 30px;
}





/* Form submitt massage ==============>  */
.msg, #msg{
    width: 100vw;
    height:100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1100;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    transform: scale(0);
  }
  #msg .content, .msg .content{
    /* padding: 20px; */
    width: 350px;
    height: 350px;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: var(--black);
    border-radius: 100%;
    text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
  }
  #msg .content i, .msg .content i{
    color: var(--light-color);
    box-shadow: var(--box-shadow-inset);
    font-size: 400%;
    background: var(--bg-color);
    border-radius: 100%;
    padding: 30px;
  }
  #msg.active, .msg.clactive{
    transform: scale(1);
    /* left: 0; */
  }


  /* <!-- EXPERIENCE section ========================>  --> */

.experience .exp-block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
    width: 100%;
    /* background: red; */
}

.experience .exp-block .cads{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px 20px;
    z-index: 1;
    /* background: pink; */
    width: 100%;
    height: 100%;
}
.experience .exp-block .cads .exp-content{
    /* background: var(--background-main-dec); */
    border: var(--border);
    padding: 20px 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
}


.experience .exp-block .cads .exp-content .exp-years{
    font-size: 400%;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--black);
    z-index: 1;
}
.experience .exp-block .cads .exp-content .exp-years sup{
    color: var(--green);
    font-size: 200%;
}
.experience .exp-block .cads .exp-content .exp-data{
    color: var(--light-color);
    font-size: 20px;
    z-index: 1;
}
.experience .exp-block .cads .exp-content .bg-blur{
    position: absolute;
    bottom: -100%;
    left: 0;
    background: var(--green);
    height: 100%;
    width: 100%;
}
.experience .exp-block .cads #exp-content:hover .exp-data,
.experience .exp-block .cads #exp-content:focus-within .exp-data,

.experience .exp-block .cads #exp-content:hover .exp-years sup,
.experience .exp-block .cads #exp-content:focus-within .exp-years sup,

.experience .exp-block .cads #exp-content:hover .exp-years, 
.experience .exp-block .cads #exp-content:focus-within .exp-years 

{
    color: var(--light-color);
}
.experience .exp-block .cads #exp-content:hover .bg-blur,
.experience .exp-block .cads #exp-content:focus-within .bg-blur{
    bottom: 0;

}
.exp-react{
    width: 100%;
}

p.res{
    font-size: 16px;
}
  /* <!-- SKILLS section ========================>  --> */



.skills .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding:20px;
    z-index: 1;
    /* background: var(--background-main-dec);/ */
    /* width: 100%; */
    /* height: 100%; */
}
.skills .cards .progess{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    text-align: center;
 }
 .skills .cards .progess .show-pro{
    position: absolute;
    bottom: -5px;
    left: -5px;
    background: var(--green);
    width: 30px;
    height: 30px;
    border-radius: 10px;
    transition: 1s;
    /* z-index: -3; */
}
.skills .cards #progess.card1:focus-within .show-pro,
.skills .cards #progess.card1:hover .show-pro{
    width: 80%;
    height: 80%;
}
.skills .cards #progess.card2:focus-within .show-pro,
.skills .cards #progess.card2:hover .show-pro{
    width: 55%;
    height: 55%;
}
.skills .cards #progess.card3:focus-within .show-pro,
.skills .cards #progess.card3:hover .show-pro{
    width: 40%;
    height: 40%;
}
.skills .cards #progess.card4:focus-within .show-pro, .skills .cards #progess.card4:hover .show-pro{
    width: 70%;
    height: 70%;
}
.skills .cards #progess.react:focus-within .show-pro,
.skills .cards #progess.react:hover .show-pro{
    width: 95%;
    height: 95%;
}

.skills .cards .progess .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 50px; */
    color: var(--black);
    font-size: 30px;
    position: relative;
    gap: 20px;
    border-radius: 10px;
    border:var(--border);
    z-index: 2;
    background: var(--bg-color);
    /* transition: 5s; */
    width: 100%;
    height: 100%;
}


.skills .cards .progess .card .counter{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    font-weight: 800;
}
.skills .cards .progess .card .counter .count{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.skills .cards .progess #card:focus-within .counter .count,
.skills .cards .progess #card:hover .counter .count
{
    counter-reset: count 0;
    animation: counter1 1s linear forwards ;
}
.skills .cards .progess #card:focus-within .counter.count2 .count,
.skills .cards .progess #card:hover .counter.count2 .count
{
    /* counter-reset: count 0; */
    animation: counter2 1s linear forwards ;
}
.skills .cards .progess #card:focus-within .counter.count3 .count,
.skills .cards .progess #card:hover .counter.count3 .count
{
    animation: counter3 1s linear forwards ;
}
.skills .cards .progess #card:focus-within .counter.count4 .count,
.skills .cards .progess #card:hover .counter.count4 .count
{
    counter-reset: count 0;
    animation: counter4 1s linear forwards ;
}

.skills .cards .progess #card:focus-within .counter.count1 .count::before,
.skills .cards .progess #card:hover .counter.count1 .count::before,
.skills .cards .progess #card:focus-within .counter.count2 .count::before,
.skills .cards .progess #card:hover .counter.count2 .count::before,
.skills .cards .progess #card:focus-within .counter.count3 .count::before,
.skills .cards .progess #card:hover .counter.count3 .count::before,
.skills .cards .progess #card:focus-within .counter.count4 .count::before,
.skills .cards .progess #card:hover .counter.count4 .count::before
{
    content: counter(count);
    line-height: 1.1;
    font-size: 30px;
}
@keyframes counter1 {
    0%{
        counter-increment: count 0;
    }
    10%{
        counter-increment: count 1;
    }
    20%{
        counter-increment: count 2;
    }
    30%{
        counter-increment: count 3;
    }
    40%{
        counter-increment: count 4;
    }
    50%{
        counter-increment: count 5;
    }
    60%{
        counter-increment: count 6;
    }
    70%{
        counter-increment: count 7;
    }
    100%{
        counter-increment: count 8;
    }
    

}

@keyframes counter2 {
    0%{
        counter-increment: count 0;
    }
    10%{
        counter-increment: count 1;
    }
    20%{
        counter-increment: count 2;
    }
    30%{
        counter-increment: count 3;
    }
    40%{
        counter-increment: count 4;
    }
    50%{
        counter-increment: count 5;
    }
    100%{
        counter-increment: count 6;
    }
    
    

}

@keyframes counter3 {
    0%{
        counter-increment: count 0;
    }
    20%{
        counter-increment: count 1;
    }
    40%{
        counter-increment: count 2;
    }
    60%{
        counter-increment: count 3;
    }
    80%{
        counter-increment: count 4;
    }
    
    100%{
        counter-increment: count 5;
    }
    
    

}

@keyframes counter4 {
    0%{
        counter-increment: count 0;
    }
    10%{
        counter-increment: count 1;
    }
    20%{
        counter-increment: count 2;
    }
    30%{
        counter-increment: count 3;
    }
    40%{
        counter-increment: count 4;
    }
    50%{
        counter-increment: count 5;
    }
    60%{
        counter-increment: count 6;
    }
    100%{
        counter-increment: count 7;
    }
    

}



.skills .cards .progess .react
{
    padding: 10px 20px;
    transition: 2s;
    /* width: 100%; */
}

.skills .cards .progess .react .react-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skills .cards .progess .react .react-content > i{
    font-size: 100px;
    color: var(--light-color);
}


  /* <!-- FAQS section ========================>  --> */

  .faqs-block{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* padding: 20px; */
    gap: 30px;
    /* background: red; */
    height: 80vh;
}
.faqs-block .faq{
    width: 500px;
    height: fit-content;
    display: flex ;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* overflow: hidden; */
    gap: 10px;
    border: var(--border);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    position: relative;
    transition: 1s ease-in-out all;

}
.faqs-block .faq:focus-within{
    /* overflow: visible; */
    height: fit-content;

}
.faqs-block .faq .question-head {
    width: 90%;
    font-size: 16px;
    z-index: 2;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-left: 10px;

}


.faqs-block .faq .question-head .question{
    width: 100%;
}
.faqs-block .faq:focus-within .question-head{
    color: var(--green);
}
.faqs-block .faq .question-head::before{
    position: absolute;
    content: '';
    right: 20px;
    background: var(--green);
    height: 2px;
    width: 15px;
}
.faqs-block .faq .question-head::after{
    position: absolute;
    content: '';
    right: 20px;
    background: var(--green);
    height: 2px;
    width: 15px;
    transform: rotate(90deg);
}
.faqs-block .faq:focus-within .question-head::after{
    transform: rotate(0deg);
    background: var(--black);

}
.faqs-block .faq .answer-content{
    /* transform: translateY(-100px); */
    position: absolute;
    top: -10px;
    z-index: -1;
    opacity: 0;
    font-size: 14px;
    line-height: 20px;
    color: var(--light-color);
}
/* .faqs-block #faq:hover .answer-content,  */
.faqs-block .faq:focus-within .answer-content{
    position: relative;
    top: 0;
    z-index: 1;
    opacity: 1;
    /* margin-top: 30px; */
}

.head-details{
    /* width: 60%; */
    /* text-align: center;    */
    font-size: 18px;
    color: var(--light-color);
    font-weight:400;
}

@media (max-width:510px){
    .faqs-block, .faqs-block .faq{
        width: 100%;
    }
    .faqs-block .faq{
        height: fit-content;
    }
}