@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#be08f5;
    --black:#444;
    --light-color:#777;
    --bg-color:#e6e6e6;
    --bg-color-blur:#e6e6e6c2;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:.4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
                      -.4rem -.4rem 1rem #fff inset;
}

body.theme-sun{
    --green:#6f6969;
    --black:#444;
    --light-color:#777;
    --bg-color:#e6e6e6;
    --bg-color-blur:#e6e6e6c2;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:.4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
                      -.4rem -.4rem 1rem #fff inset;
}

body.dark{
    --green:#f802b3;
    --black:#fff;
    --light-color:#ddd;
    --bg-color:#222222;
    --bg-color-blur:#222222c2;
    --border:.1rem solid rgba(0,0,0,.4);
    --box-shadow:.4rem .4rem 1rem #111,
                -.4rem -.4rem 1rem #333;
    --box-shadow-inset:.4rem .4rem 1rem #111 inset,
                      -.4rem -.4rem 1rem #333 inset;
}
.st3{
    fill: red;
}
body.theme-blue{
    --green:#2831e1;
    --black:#ffffffa5;
    --light-color:#ffffffd3;
    --bg-color:#01021a ;
    --bg-color-blur:#01021ac2;

    --border:.1rem solid #0804fc;
    --box-shadow:.4rem .4rem 1rem #01010f,
                -.4rem -.4rem 1rem #020242;
    --box-shadow-inset:.4rem .4rem 1rem #020242 inset,
                      -.4rem -.4rem 1rem #01010f inset;
}
body.theme-gradient{
    --green:#400325;
    --black:#f09ba9;
    --light-color:#ffc0cb;
    --bg-color-blur: linear-gradient(#f86c83c2, #cc0727c2 60%, #660414c2);

    --bg-color: linear-gradient(#f86c83, #cc0727 60%, #660414);
    --border:.1rem solid #fc042e;
    --box-shadow:.4rem .4rem 1rem #c20625,
                -.4rem -.4rem 1rem #f82a4d;
    --box-shadow-inset:.4rem .4rem 1rem #c20625 inset,
                      -.4rem -.4rem 1rem #f82a4d inset;
}
body.theme-purple{
    --green:#2e013e;
    --black:#ffffffa5;
    --light-color:#fff;
    --bg-color:#800080;
    --bg-color-blur:#800080c2;

    --border:.1rem solid #e508e5;
    --box-shadow:.4rem .4rem 1rem #800080,
                -.4rem -.4rem 1rem #bb05bb;
    --box-shadow-inset:.4rem .4rem 1rem #970497 inset,
                      -.4rem -.4rem 1rem #7b037b inset;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s ease-in-out;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    background: var(--bg-color);
    scroll-behavior: smooth;
    /* opacity: .8; */
}

body{
    /* background: rgb(3, 18, 120); */
    position: relative;
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body::before{
    height: 100vh;
    width: 100vw;
    content: '';
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;

}

/* logo css */
.logo{
    height: 50px;
    position: fixed;
    top: 5px;
    left: 310px;
    z-index: 1000;
    border: var(--border);
    padding: 10px;
    border-radius: 100%;
    box-shadow: var(--box-shadow);
    background: var(--bg-color);
}
.logo img{
    width: 100%;
    height: 100%;
}

.tab-contents{
    height: 110vh;
    padding:2rem;
    background: var(--bg-color);
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 50px 0;
    transform: translateX(-100%);
    width:calc(100% - 300px);
    overflow: hidden;
    opacity: 0;
    overflow-y: auto;
    
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:1rem 3.5rem;
    border-radius: 5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: none;
    color:var(--black);
    box-shadow: var(--box-shadow);
}

.btn:hover{
    box-shadow: var(--box-shadow-inset);
    color:var(--green);
}

.heading{
    text-align: center;
    font-size: 5rem;
    color:var(--black);
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.heading span{
    color:var(--green);
    text-transform: uppercase;
}

.header{
    position: fixed;
    top:0; left: 0;
    z-index: 999;
    background: var(--bg-color);
    width: 30rem;
    border-right: var(--border);
    height: 100%;
    padding:1rem ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .user img{
    margin:.5rem 0;
    border:1rem solid transparent;
    border-radius: 50%;
    height: 18rem;
    width: 18rem;
    box-shadow: var(--box-shadow);
}

.header .user h3{
    color:var(--black);
    font-size: 2.5rem;
}

.header .user p{
    color:var(--green);
    font-size: 1.5rem;
}

.header .navbar{
    padding-top: 1rem 2rem;
    /* background: red; */
    width: 100%;
}

.header .navbar .tab-links {
    display: block;
    margin:1.5rem 2rem;
    padding:.3rem;
    border-radius: 5rem;
    font-size: 2rem;
    box-shadow: var(--box-shadow);
    color:var(--black);
    position: relative;
    
}

.tab-links .navbar{
    position: absolute;
    bottom: 0;
    left: -100vw;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    /* display: none; */
}
.tab-links:hover .navbar, .tab-links:focus-within .navbar{
    left: 0;
}
.tab-links i{
    position: absolute;
    right: 20px;
}
#menu-btn{
    position: fixed;
    top:1rem; left: 10rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color:var(--black);
    background: var(--bg-color);
    display: none;
}

#menu-btn:hover{
    color:var(--green);
    box-shadow: var(--box-shadow-inset);
}
#menu-btn.fa-times{
    /* left: 210px; */
}
.rem{
    display: none;
}
.themes{
    position: fixed;
    top:1.5rem; right: 2rem;
    z-index: 1000;
    /* height: 10rem;
    width: 10rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    padding: .5rem;
    line-height: 5rem;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    text-align: center;
    background: var(--bg-color);
    border: var(--border);
}

.themes .fas{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    padding:5px;
    border-radius: 50%;
    border:var(--border);
}
.home{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: 100vh; */
    padding-bottom: 100px;
}
.home .content{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

}
.home .content h3{
    font-size: 7rem;
    color:var(--black);
    line-height: 1.1;
    text-transform: uppercase;
}

.home .content p{
    font-size: 2rem;
    color:var(--green);
    padding-bottom: .5rem;
}

.home .content .share{
    /* position: relative; */
    /* top: 6rem; */
    border-radius: 5rem;
    box-shadow: var(--box-shadow);
    padding:1rem;
    
}

.home .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    box-shadow: var(--box-shadow);
    margin:.5rem;
    font-size: 2rem;
    color:var(--black);
    border-radius: 5rem;
}

.home .share a:hover{
    box-shadow: var(--box-shadow-inset);
    color:var(--green);
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap:2rem;
}

.about .row .box-container{
    flex:1 1 40rem;
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
}

.about .row .box-container .box{
    flex:1 1 18rem;
    text-align: center;
    padding:2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.about .row .box-container .box h3{
    font-size: 5rem;
    color:var(--black);
    line-height: 1.1;
}

.about .row .box-container .box p{
    font-size: 2rem;
    color:var(--light-color);
    padding:.5rem 0;
}
.about .row .box-container .box span{
    font-size: 1.5rem;
    color:var(--black);

}
.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color:var(--black);
    line-height: 1.8;
}

.about .row .content h3 span{
    color:var(--green);
}

.about .row .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding:1rem 0;
}

.about .row:nth-child(3){
    padding-top: 2rem;
}

.about .row .progress{
    flex:1 1 40rem;
}

.about .row .progress h3{
    color:var(--black);
    font-weight: normal;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .row .progress .bar{
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    height:2rem;
    padding:.5rem;
    margin:1rem 0;
}

.about .row .progress .bar span{
    display: block;
    height: 100%;
    background: var(--green);
    border-radius: 5rem;
}

.about .row .progress .bar-1-1 span{
    width: 90%;
}

.about .row .progress .bar-1-2 span{
    width: 75%;
}

.about .row .progress .bar-1-3 span{
    width: 80%;
}

.about .row .progress .bar-2-1 span{
    width: 95%;
}

.about .row .progress .bar-2-2 span{
    width: 89%;
}

.about .row .progress .bar-2-3 span{
    width: 65%;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
}







.services .box-container .box{
    padding:2rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow:hidden;
}

.services .box-container .box i{
    font-size:4rem;
    padding-bottom: 5rem;
    color:#fff;
}

.services .box-container .box h3{
    font-size:2rem;
    padding-bottom: 1rem;
    color:var(--black);
}

.services .box-container .box p{
    font-size:1.4rem;
    line-height: 1.8;
    color:var(--light-color);
}

.services .box-container .box::before{
    content: '';
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background: var(--green);
    z-index: -1;
    clip-path: circle(9rem at 5% 0%);
    transition: .3s linear;
}

.services .box-container .box:hover::before, .services .box-container .box:focus-within::before{    
    clip-path: circle(100%);
}

.services .box-container .box:hover > *{
    color:#fff;
}

.portfolio .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
}

.portfolio .box-container .box{
    height: 40rem;
    border-radius: .5rem;
    overflow:hidden;
    box-shadow: var(--box-shadow);
    position: relative;
    border:1rem solid transparent;
}

.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box .content{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background: var(--bg-color-blur);
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    padding: 10px;
}

.portfolio .box-container .box .content p{
    width: 100%;
    font-size: 14px;
    color: var(--light-color);
}
.portfolio .box-container .box .content h5{
    width: 100%;
    font-size: 16px;
    color: var(--green);
    padding: 5px 0;
    

}
.portfolio .box-container .box .content ul{
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.portfolio .box-container .box .content ul li{
    font-size: 14px;
    list-style: none;
    color: var(--light-color);
    margin-left: 40px;
    position: relative;
}
.portfolio .box-container .box .content ul li::before{
    content: '';
    position: absolute;
    left: -20px;
    width: 10px;
    height: 10px;
    background: var(--green);
    border-radius: 100%;
}

.portfolio .box-container .box .content .project-link{
    padding: 5px 20px;
    font-size: 16px;
    color: var(--green);
    background: var(--bg-color);
    border-radius: 30px;
}
.portfolio .box-container .box .content .project-link:hover{
    letter-spacing: 1.3px;
    /* background: var(--bg-color); */
}
.portfolio .box-container .box:hover .content, .portfolio .box-container .box:focus-within .content{
    transform: translateY(0);
}
.portfolio .box-container .box .gallery-content{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background: var(--bg-color-blur);
    display: grid;
    place-items: center;
    transform: scale(0);
}

.portfolio .box-container .box:hover .gallery-content, .portfolio .box-container .box:focus-within .gallery-content{
    transform: scale(1);
}
.portfolio .box-container .box .content h3, .portfolio .box-container .box .gallery-content h3{
    font-size: 2.5rem;
    color:var(--green);
    text-transform: uppercase;
    transform: translateY(-5rem);
    opacity: 0;
    transition-delay: .3s;
}

.portfolio .box-container .box:hover .content h3, .portfolio .box-container .box:focus-within .content h3, .portfolio .box-container .box:hover .gallery-content h3, .portfolio .box-container .box:focus-within .gallery-content h3{
    transform: translateY(0rem);
    opacity: 1;
}

.contact form{
    margin:1rem auto;
    max-width: 70rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
}

.contact form .box{
    padding:1rem 1.5rem;
    width:100%;
    background: none;
    color:var(--black);
    font-size: 1.6rem;
    text-transform: none;
    margin:.7rem 0;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.contact form textarea{
    height: 20rem;
    resize: none;
}

.contact form .box:focus{
    box-shadow: var(--box-shadow-inset);
}

.credits{
    font-size: 2rem;
    text-align: center;
    /* padding:1rem ; */
    margin-top: 50px;
    border-top: var(--border);
    color:var(--black);
    width: 100%;

}

.credits span{
    color: var(--green);
}





.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 20px 0;
    flex-wrap: wrap;
}
.cards .heading{
    width: 100%;
    text-align: center;
}
.cards .card img{
    width: 200px;
    border-radius: 1rem;
    /* width: 200px; */
    border: var(--border);
}
.cards .card h1{
    text-align: center;
    font-size: 18px;
    color: var(--black);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: var(--bg-color);
}
.cards .card:focus-within img, .cards .card:hover img{
    transform: scale(1.4);
}
.cards .card{
    padding:2rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow:hidden;
}

































.credited{
    margin-top: 1rem;
    position: absolute;
    bottom: 0;
}







/* media queries  */

@media (max-width:991px){

    .tab-contents{
        padding: 50px 10px 0 10px;
        
    }
    html{
        font-size: 55%;
    }

    .tab-contents{
        width: 100%;
    }

    .header{
        left:-110%;
    }

    .header.active{
        left:0%;
        transition: .4s linear;
    }

    #menu-btn{
        display: initial;
        top: 70px;
        left: 15px;
    }
    .logo{
        left: 10px;
    }
    .rem{
        display: flex;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .header{
        width:100%;
        border-right: 0;
    }
    #menu-btn{
        display: initial;
        top: 70px;
        left: 15px;
    }
    .experience .exp-block .cads .exp-content{
        width: 100%;
    }

}
.cv-contents{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    z-index: 10000;
    transform: scale(0);
}

.active-cv{
    transform: scale(1);
}
.top{
    background: var(--bg-color);
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 20px;
    gap: 20px;
    font-size: 20px;
    color: var(--black);
    border-bottom: var(--border);
    
}
.top a, .top i{
    color: var(--light-color);
    padding: 10px;
    /* border-radius: 100%; */
}
.top a:hover, .top i:hover{
     color: var(--bg-color);
     text-decoration: none;
     background: var(--green);
}
.item{
    padding: 20px;
    box-shadow: var(--box-shadow);
    margin: 100px 20px;
}
.item img{
    height: auto;
    width: 100%;
}